<main class="container text-center" itemscope itemtype="https://schema.org/Person">
  <img src="{{ ROOT }}/img/{{ LANG }}.svg" class="dropdown-toggle" id="langSelect" data-bs-toggle="dropdown">
  <ul class="dropdown-menu" aria-labelledby="langSelect" id="lang">
    {% for l in LANGS %}<li itemscope itemtype="https://schema.org/Language">
      <img src="{{ ROOT }}/img/{{ l.id }}.svg" data-lang="{{ l.id }}" itemprop="image">
      <meta itemprop="name" content="{{ l.metaName }}">
      <meta itemprop="identifier" content="{{ l.metaId }}">
    </li>
    {% endfor %}
  </ul>

  <figure>
    <img src="{{ ROOT }}/img/mahdi.jpg" itemprop="image">
    <figcaption>
      <span itemprop="givenName">{{ givenName }}</span> <span itemprop="familyName">{{ familyName }}</span>
    </figcaption>
  </figure>
  <blockquote>
    <p itemprop="description">
      {% autoescape false %}{{ description }}{% endautoescape %}
    </p>
    <p itemprop="knowsAbout">
      {% autoescape false %}{{ knowsAbout }}{% endautoescape %}
    </p>
  </blockquote>

  <a href="{{ ROOT }}/cv.pdf" target="_blank" id="cv" itemprop="mainEntityOfPage"
     itemtype="https://schema.org/AboutPage">{{ viewCv }}</a>

  <nav id="social">
    {% for link in SOCIAL %}<span
      class="social" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ link.title }}"
      itemprop="mainEntityOfPage" itemscope itemtype="https://schema.org/ProfilePage">
      <a href="{{ link.href }}" target="_blank" itemprop="sameAs">
        <img src="{{ ROOT }}/img/{{ link.icon }}.svg" alt="{{ link.icon }}" itemprop="thumbnailUrl">
      </a>
    </span>
    {% endfor %}
  </nav>

  <div class="grid" id="projects">
    {% for p in PROJECTS %}<section class="grid-item {{ p.id }}" itemprop="subjectOf" itemscope
             itemtype="https://schema.org/{{ p.microType }}">
      <div class="grid-inner animated-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img src="{{ ROOT }}/img/{{ p.icon }}.png" alt="{{ p.icon }}" class="icon" itemprop="logo">
        <p class="projName" itemprop="name">{{ p.name }}</p>
        <p class="projDesc" itemprop="disambiguatingDescription">
          {{ p.desc }}
        </p>
        {% for a in p.anchors %}<div class="anchor">
          <hr>
          <a href="{{ a.href }}" target="_blank" itemprop="{{ a.microType }}"
             data-bs-toggle="tooltip" data-bs-placement="top" title="{{ a.title }}">{{ a.name }}</a>
        </div>
        {% endfor %}
      </div>
      <meta itemprop="operatingSystem" content="{{ p.os }}">
      <meta itemprop="isAccessibleForFree" content="true">
      <meta itemprop="applicationCategory" content="{{ p.category }}">
    </section>
    {% endfor %}
  </div>

  {% if LANG != 'en' %}
  <meta itemprop="jobTitle" content="Software Engineer">
  {% endif %}
  <meta itemprop="email" content="fulcrum522@hotmail.com">
  <meta itemprop="additionalName" content="Fulcrum">
  <meta itemprop="gender" content="https://schema.org/Male">
</main>
<div class="spinner-grow text-light" role="status" id="loading">
  <span class="visually-hidden">{{ loading }}</span>
</div>